{{define "filters"}}
<div class="filters-container">
    <div class="filters-forms-container">
        <h2>Input specific info below</h2>
        <form action="/catalog" method="GET">
            <input type="text" name="brand" placeholder="input brand of the product"> <br> <br>
            <select name="type">
                <option type="checkbox" value="">all products</option>
                <option type="checkbox" value="Skin Care kit">Skin Care kit</option> <br>
                <option type="checkbox" value="Hair">Hair</option> <br>
                <option type="checkbox" value="Cleanser">Cleanser</option> <br>
                <option type="checkbox" value="Serum">Serum</option> <br>
            </select>

            <button type="submit">Filter</button> <button type="submit" value="">Reset filters</button>
        </form>
    </div>
</div>
{{end}}