<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class = "header">
            <div class = "header-button">
                <a href="{{.registrationPage}}">Main</a>
            </div>
            <div class = "header-button">
                <a href="registration.html">Registration</a>
            </div>
            <div class = "header-button">
                <a href="login.html">Login</a>
            </div>
    </div>
    <div class = "badge">
        <a>Registration</a>
    </div>
    <div class = "container">
        <div class = "info-container">
            <h2>Input data below</h2>
            <form method="post" action="postform">
                <label>Write nickname</label> <br>
                <input type="text" name="username"> <br>
                <label>Write firstname</label> <br>
                <input type="text" name="firstname"> <br>
                <label>Write lastname</label> <br>
                <input type="text" name="lastname"> <br>
                <label>Write age</label> <br>
                <input type="text" name="age"> <br>
                <label>Write password</label> <br>
                <input type="text" name="password"> <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>