{{ define "registration" }}

{{ template "header" }}
<div class = "badge">
    <a>Registration</a>
</div>

    <div class = "container">
        <div class = "info-container">
            <h2>Input data below</h2>
            <form method="post" action="/save_user">
                <label>Write nickname</label> <br>
                <input type="text" name="nickname" id="nickname"> <br>
                <label>Write firstname</label> <br>
                <input type="text" name="firstname" id="firstname"> <br>
                <label>Write lastname</label> <br>
                <input type="text" name="lastname" id="lastname"> <br>
                <label>Write age</label> <br>
                <input type="text" name="age" id="age"> <br>
                <label>Write password</label> <br>
                <input type="text" name="password" id="password"> <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

{{ template "footer" }}

{{ end }}